<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN http://www.w3.org/TR/html4/strict.dtd">    
<html>    
<head>    
<STYLE>    
      A:link {text-decoration: none}    
      A:visited {text-decoration: none}    
      A:active {text-decoration: none}    
      A:hover {text-decoration: underline; color: blue;}    
      body {    
            font-family: Arial,sans-serif;    
            color: black;        
            background-color: white;    
            }    
      table {    
            color: green;    
            background-color: white;    
            width: 800px;    
            col width: 40px;    
            }    
      td   {    
            color: green;    
            background-color: white;    
            border: solid #000 1px;    
            spacing: 0;    
            padding: 5px;    
            }    
      h1   {    
            color: green;    
            font-size: 100%;    
            background-color: grey;        
            }    
      h2   {    
            color: green;    
            font-size: 80%;    
            background-color: grey;        
            }    
      .data   {    
            color: #000000;    
            font-size: 100%    
            border: solid #000 1px;    
            background-color: grey;        
            width: 100px;    
            border: 1;    
            cellspacing: 0;    
            cellpadding: 1;    
            text-align: center;    
            }    
      .datastart   {    
            color: blue;        
            font-size: 100%    
            border: solid #000 1px;    
            background-color: white;        
            width: 100px;    
            border: 1;    
            cellspacing: 0;    
            cellpadding: 1;    
            text-align: center;    
            }    
      .datasmall   {    
            color: blue;        
            font-size: 100%    
            border: solid #000 1px;    
            background-color: purple;        
            width: 50px;    
            border: 1;    
            cellspacing: 0;    
            cellpadding: 1;    
            text-align: center;    
            }    
      .datasmallleft   {    
            color: blue;        
            font-size: 100%    
            border: solid #000 1px;    
            background-color: grey;        
            width: 50px;    
            border: 1;    
            cellspacing: 0;    
            cellpadding: 1;    
            text-align: left;    
            }    
      .dataleft   {    
            color: blue;        
            font-size: 100%    
            border: solid #000 1px;    
            background-color: grey;        
            width: 100px;    
            border: 1;    
            cellspacing: 0;    
            cellpadding: 1;    
            text-align: left;    
            }    
      .datadone   {    
            color: green;        
            font-size: 100%    
            border: solid #000 1px;    
            background-color: white;
            width: 100px;    
            border: 1;    
            cellspacing: 0;    
            cellpadding: 1;    
            text-align: center;    
            }    
      </STYLE>    
      </head>    
      <body>    
